
:root{
    --primary-color: #4D41C0;
}
header{
    background-color: var(--primary-color);
    height: 60px;
    display: flex;
    align-items: center;
    color: white !important;
}

.dsmovie-nav-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white !important;

}

.dsmovie-nav-content > h1{
    font-weight: bolder;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-link{
    margin:0 0 0 10px;
    font-size: 16px;
}


